:root {
  --primary-font:"Roboto", sans-serif;
  --primary-text-color: #212121;
  --secondary-tex-color:#757575;
  --third-text-color:#2196F3;
  --transition-dur-and-func:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  /* height: 580px; */
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: border-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--third-text-color);
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--third-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 20px;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 16px;
}

.modal-form-input-desc {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #757575;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--third-text-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill var(--transition-dur-and-func);
}

/* .modal-form-input-icon-solid{
    fill: #212121;
} */
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--third-text-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 10px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  /* text-transform: uppercase; */
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--third-text-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #757575;
  transition: border-color var(--transition-dur-and-func), outline var(--transition-dur-and-func);
}

.modal-form-check:focus + .modal-form-check-desc::before {
  border-color: var(--third-text-color);
  outline: none;
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  /* background-size:16px 15px ; */
  border: 1px solid #212121;
  content: "";
  cursor: pointer;
  border-radius: 2px;
  margin-right: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color var(--transition-dur-and-func), background-position var(--transition-dur-and-func), background-color var(--transition-dur-and-func), outline var(--transition-dur-and-func);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url("../images/svg/check.svg");
  background-position: 50% 50%;
  background-color: #2196F3;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1px solid var(--third-text-color);
}

.modal-form-check-link {
  color: var(--third-text-color);
  transition: color var(--transition-dur-and-func);
}

.modal-form-check-link:hover,
.modal-form-check-link:focus {
  color: #188CE8;
}

.modal-form-submit {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* min-width: 160px; */
  /* position: absolute; */
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  /* margin-bottom: 43px; */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196F3;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
  color: #ffffff;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #188CE8;
  color: #ffffff;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-head {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--third-text-color);
  /* width: 145px;
  height: 31px;
  left: 215px;
  top: 24px; */
}

.logo-head-part2 {
  color: var(--primary-text-color);
}

.logo {
  margin-right: 93px;
}

/* --------------------------------Menu-nav------------------------ */
.menu {
  display: flex;
  align-items: center;
  /* gap: 50px; */
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: color var(--transition-dur-and-func);
}

.current::after {
  position: absolute;
  /* display:block; */
  content: "";
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--third-text-color);
  border-radius: 2px;
  transition: background-color var(--transition-dur-and-func);
  bottom: -33px;
}

.current {
  color: var(--third-text-color);
}

.menu-link.current:hover:after {
  background-color: var(--third-text-color);
}

.contacts-head {
  display: flex;
  align-items: center;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--third-text-color);
}

.mail-link {
  /* position: absolute;
  width: 135px;
  height: 16px;
  top: 32px;
  left: 1078px; */
  margin-right: 50px;
}

.contact-phone-number, .mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-tex-color);
  transition: color var(--transition-dur-and-func);
}

/* .contact-phone-number{
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    position: absolute;
} */
.mail-link:hover,
.mail-link:focus,
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--third-text-color);
}

.mail-link {
  display: flex;
  justify-content: center;
}

.mail-icon-head {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

.contact-phone-number {
  display: flex;
  justify-content: center;
}

.phone-icon-head {
  margin-right: 10px;
  margin-bottom: 0px;
  align-self: center;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Img.jpg");
  background-size: cover;
  background-color: #C4C4C4;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.service-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: var(--third-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  padding: 10px 32px 10px 32px;
  margin: auto;
  transition: color var(--transition-dur-and-func);
}

.service-btn:hover,
.service-btn:focus {
  background-color: #188CE8;
  /* background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));     */
}

.characteristic {
  /* width: 270px; */
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin: auto; */
}

.characteristic-item-icon-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.characteristic-item {
  width: 270px;
}

.characteristic-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.characteristic-subtitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
  letter-spacing: 0.03em;
}

/* -----------------------------Service------------------------------------------ */
.service {
  padding-bottom: 94px;
}

.service-link {
  position: relative;
}

.service-type {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.service-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--third-text-color);
}

.socail-list-icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}

.social-list-link:hover .socail-list-icon,
.social-list-link:focus .socail-list-icon {
  fill: #ffffff;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
}

.team-flex {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 30px;
}

.team-members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-card {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-members-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
  text-align: center;
  margin-bottom: 16px;
}

.team-subtitle {
  padding-top: 30px;
  padding-bottom: 30px;
}

.client-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.stable-clients {
  padding-bottom: 97px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.client-item {
  display: flex;
  align-items: center;
}

.client-logo {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}

.client-item:hover .client-logo,
.client-item:focus .client-logo {
  fill: #2196F3;
}

.client-link:hover,
.client-link:focus {
  fill: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.client-link:hover .client-logo,
.client-link:focus .client-logo {
  fill: #2196F3;
}

.filters {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter:hover,
.filters:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--primary-text-color);
  cursor: pointer;
  /* position: absolute; */
  /* width: 128px;
  height: 38px;
  left: 576px;
  top: 174px; */
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--third-text-color);
  color: #FFFFFF;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-titles {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects-group {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
}

.project-link {
  border: 1px solid #EEEEEE;
}

.project-link {
  display: block;
  position: relative;
}

.project-inform {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px 20px 24px;
}

.project-link-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
}

.poject-link:hover .overlay,
.poject-link:focus .overlay {
  transform: translate(0, 0);
}

.footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--third-text-color);
}

.logo-foot-part2 {
  color: white;
}

.footer {
  position: relative;
  background-color: #2F303A;
}

.logo-block {
  display: block;
  padding-bottom: 20px;
}

.contacts-item-box {
  display: block;
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 9px;
  transition: color var(--transition-dur-and-func);
}

.location:hover,
.location:focus {
  color: var(--third-text-color);
}

.mail-link-footer, .contact-phone-number-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-style: normal;
  transition: color var(--transition-dur-and-func);
}

.contacts-item-footer {
  margin-bottom: 9px;
}

.contacts-item-phone {
  margin-bottom: 0px;
}

.mail-link-footer:hover,
.mail-link-footer:focus,
.contact-phone-number-footer:hover,
.contact-phone-number-footer:focus {
  color: var(--third-text-color);
}

.social-list-footer-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.social-list-footer {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: var(--third-text-color);
}

.socail-list-icon-footer {
  fill: #ffffff;
}

.social-list-link-footer:hover .socail-list-icon,
.social-list-link-footer:focus .socail-list-icon {
  fill: #ffffff;
}

.social-contacts-footer {
  display: flex;
  gap: 70px;
}

.subscribe {
  margin-left: auto;
}

.subscribe-form-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe-form-mail {
  /* position: absolute; */
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: #2F303A;
  color: #ffffff;
  transition: border-color var(--transition-dur-and-func);
}

.subscribe-form-mail:hover,
.subscribe-form-mail:focus {
  border-color: var(--third-text-color);
}

.subscribe-items {
  display: flex;
}

.subscribe-form-btn {
  display: flex;
  outline: none;
}

.subscribe-form-submit-btn {
  width: 200px;
  height: 50px;
  left: 1185px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 28px;
  transition: background var(--transition-dur-and-func), color var(--transition-dur-and-func);
  outline: none;
  border: none;
}

.subscribe-form-submit-btn:hover,
.subscribe-form-submit-btn:focus {
  background: #ffffff;
  color: #2196F3;
  outline: none;
}

.subscribe-form-submit-btn:hover .subscribe-form-input-icon,
.subscribe-form-submit-btn:focus .subscribe-form-input-icon {
  fill: #2196F3;
}

.subscribe-form-input-icon {
  margin-left: 10px;
  fill: #FFFFFF;
  transition: fill var(--transition-dur-and-func);
}/*# sourceMappingURL=main.css.map */